<!DOCTYPE html>
<html>

<head>
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
  <script src="static/js/application.js"></script>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Tabla de valores de BTC</h1>
    </div>
  </div>
  </div>
  <div class="container" id="content">
    <div class="row">
      <p>datos en tiempo real:</p>
      <h3>BTC:</h3>
      <table style="width:100%">
        <tr>
          <th>ACT</th>
          <th>SYM</th>
          <th>INPUT</th>
          <th>BID</th>
          <th>ASK</th>
          <th>VOL</th>
        </tr>
        <tr>
          <td>YES</td>
          <td>ETH_BTC</td>
          <td><input type="number" id="input" name="entrada"><br></td>
          <td><div id="bid"></div></td>
          <td><div id="ask"></div></td>
          <td><div id="vol"></div></td>
        </tr>
      </table>
      </div>
    </div>
  </div>
</body>

</html>